/* ---- Inicio proyecto en css ---- */
/* siempre es bueno resetear los estilos que trae
por defecto el navegador, para este caso no se hara 
pero queda listo para el siguiente proyecto

*{
   padding: 0;
  margin:0;
}

*/
/*Esta configuracion de reseteo es muy basica, se debe hacer de manera mas especifica
y tambien de acuerdo a las necesidades de cada programa, una hoja basica de reseteo es esta

* {
   box-sizing:border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
o si no usar normalice.css de nicoles
*/


*{
   box-sizing: border-box;
}

body{ 
max-width: 970px;
background-color: seashell;
margin-left:5%;
margin-right: 5%;}

/*
-------------------*/
#contenedor_header div
{
   text-align:center; 
   width: 80%;
   display: inline-block;
   font-size: 20px;
   margin-left: 10%;
   }

/*estilos del header */

#contenedor_img_1 img
{
   width: 125px;
   height: 125px;
   margin-left: -3.5%;
   margin-top: -1%;
   background-attachment: fixed;
   border:1px solid blue;
   border-radius: 10%;
}
#i1:hover{
   width: 180px;
   height: 180px;
   border: 3px solid #aafffa;
   }

nav ul li{
   display:inline-block;
   margin: 0.2em;
   text-align: center;
  
  }


nav ul li a {
   text-decoration: none;
   text-align: center; 
   color:blue; 
   background-color: #aafffa;
   

}
nav ul {
   text-align: center;
   }
#nav_header{
   margin-left: 12%;
   width: 68%;
   height: 68%;
   margin-top: -10%;
   font-size: 150%;
   background-position-x: center;
 }

#aside_header{
   margin-left: 70%;
   margin-block-start: -15%;  
   width: 20px;
}

#aside_header figure img{
   width: 45px;
   height: 45px;
   border: 1px solid #aafffa;
   border-radius: 30%;
  
  
}

#img1:active, #img2:active, #img3:active {
  width: 60px;
  height: 60px;  
  border-radius: 10%;
 }

 #h1-h2_header h1 {
    font-size: 120%;
    color: #063AFF;
    border-radius: 8%;
    border: 1px solid #1598aa;
    margin-right: 10%;
    margin-left: 5%;
   
 }
 #h1-h2_header h1:hover{
border:3px solid #063AFF
 }

 /*main section */

 #main_section_figure1 img {
    width: 65%;
    border-radius: 10%;
   
 }
 #main_section_figure1 img:hover{
    border:1.2px solid #063AFF;
 }
 #main_section_figure1 figcaption{
       
    width: 80%;
 }
 #dibujito{
    
    width: 30%;
 }
 /*imagenes planetas*/
 
 #figure_big_son:hover{
   width: 25%;
 }
 #figure_big_son{
    border-radius: 15%;
    border:4px solid lavender;
 }
 
 /*articles*/

 #main_section_articles {
    text-align:justify;
    line-height: 150%;
 }
 #ol-universe{
    line-height: 150%;
    text-align: justify;
 }

 










 /*aside js*/
  
 #aside_js h4{
    color:rgba(212, 38, 38, 0.842);
 }

 #aside_js label{
    line-height: 200%;
    font-size: 22px;
 }

 .textoplanetas{
    font-size: 20px;
    border-radius: 12%;
    background-color:rgb(246, 246, 246);
    border-color:#1598aa;
    box-shadow:inset;
 }
 .botonplanetas{
    font-size: 15px;
    background-color: transparent;
    border-radius: 30%;
    
 }
 #i11{
    width: auto;
    border: 2px solid ivory;
 }
 
 #footer1::first-letter{
    color:#063AFF;
    

 }
 #footer1::first-line{
    background-color: red;
 }
 #footer1{
    width: 50%;
 }

 
/*¿imagenes responsive?*/
/*¿max-width:100%;width:auto;height:auto?*/
 


/* Aplicacion de estilos para el body */
/*body  {width: 80%; height: 80%; max-width: 1000px; margin-left: auto%; background-attachment: fixed; background-color:aquamarine;}
   /*Aplicacion de estilos h1 - h4*/
   /*h1 { width: 80%; margin-left: 5%; display: inline-block; text-align: center;font-size: 48px; border: 3px solid blue; border-radius: 15%;} 
   h2 { width: 80% ; padding:8px; font-size: 32px;} h3 { width: 80% ; padding: 8px; font-size: 32px; }
   /* edicion rama footer */ h4 { width: 80% ; padding: 8px; font-size: 22px; }
   /*Aplicacion de estilos al header .header (porque fue llamado a traves de una class)*/
   /*header{t;text-align: center;}
   /*Apliacion de estilos a imagen central y a (imagen1 - imagen8)*/
   /*.imagen_Principal {width: 100%;height: 100%; margin-left: 0%;  border: 2px solid blue; } .imagen1 {border: 2px solid blue;}
   .imagen2 {border: 2px solid blue;} .imagen3 {  border: 2px solid blue;} .imagen4 { border: 2px solid blue;} .imagen5 { border: 2px solid blue;}
   .imagen6 { border: 2px solid blue;} .imagen7 {border: 2px solid blue;} .imagen8 { border: 2px solid blue;}
   /*Aplicacion de estilo a article*/
   /*article  {width: 90%;font-size: larger;font-family:"Trebuchet MS";text-align: justify;margin: right 70%;
   font-size: 20px;padding: 8px;} 
   /*Aplicacion de estilos en etiquetas p*/
   /*p{width: 77%;font-size: larger;font-family:"Trebuchet MS";text-align: justify;margin-left: 30%;padding:8px;}
   .pli,.pli2,.pli3,.pli4
   {width: 70%;font-size: 100%;font-family:"Trebuchet MS";text-align: justify;margin-left: 30%;padding:10px;}
  
   /*edidcion rama footer */.pli5 {width: 70%;font-size: 100%;font-family:"Trebuchet MS";text-align: justify;margin-left: 10%;padding:10px;}
   /*#parrafo5{background: sandybrown; width: 38%;}
   #parrafo6{background: sandybrown; width: 38%;}
   #parrafo9 {background: sandybrown; width: 38%;}
   /*Aplicacion estilo ol */
   /*ol {width: 80%;font-size:larger;font-family:'Trebuchet MS';text-align: justify;margin-left: 30%;padding:8px;}
   /*Aplicacion estilo div */
   /*div{margin-left: 5%;}
   /*Aplicacion estilo canvas */
   /*canvas {margin-left: auto%;}
   #texto_mercurio,#texto_venus,#texto_marte,#texto_jupiter,#texto_saturno,
   #texto_urano,#texto_neptuno,#texto_sol,#texto_luna{ background-color:wheat; color:blue;} */
  
  

  
    
   /* Finalizaciond el proyecto... por ahora *   -- inicia continuacion (merge ramas )*/



   
   /* Corresponde  la edicion de la rama footer :

   - h4
   - p class pli5
   -comprobar si es posible la edicion de los inputs 
   - img src = ./imagenes/via_lactea.png
   - footer y subs. 


   se deben hacer los cambios de manera individual debido a que esta todo entrañado con la etiqueta div

   */
   